# VCS
.git
.gitignore
.gitattributes
.github

# Временные файлы Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log
*.pid
*.swp
*.swo
*~
.*.swp
.*.swo

# Папки сборки
bin/
dist/
tmp/

# IDE
.vscode/
.idea/
*.iml

# Системные файлы
.DS_Store
Thumbs.db

# Документация (опционально)
README.md
docs/

# Конфиг для разработки – при необходимости исключить (если он будет монтироваться извне)
# config.json

# Отладочные файлы
debug
coverage.out